.canvas {
	flex: 5;
}

.selected-workspace {
	color: var(--color-font);
	flex: 5;
	background-color: var(--color-background);
	/* Layout inside */
	display: flex;
	flex-direction: column;
}

/* Task List */

.task {
	border-bottom: 2px solid var(--color-font);
	padding: 10px;
	/* Layout inside */
	display: flex;
	align-items: center;
	gap: 10px;
}

.task:hover {
	background-color: var(--color-font-hover);
}

button[type="checkbox"] {
	width: 20px;
	height: 20px;
}

/* Menu */

.menu {
	border-bottom: 2px solid var(--color-font);
	background-color: var(--color-background);
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	/* Layout inside */
	display: flex;
	align-items: center;
	gap: 10px;
}

#add-task-btn {
	width: 90px;
	height: 40px;
	background-color: var(--color-background);
	color: var(--color-font);
	border: 2px solid var(--color-font);
	cursor: pointer;
}

#add-task-btn:hover {
	background-color: var(--color-font-hover);
}

#open-sidebar-btn {
	border: none;
	background: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	/* Layout inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

#open-sidebar-btn {
	display: none;
}