.task-manager, .workspace-manager {
	padding: 10px;
	background-color: var(--color-font);
	border: 3px solid var(--color-background);
	width: 600px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Layout inside */
	display: none;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.workspace-manager > div:first-child {
	width: 100%;
	display: flex;
	justify-content: center;
}

.close-task-manager-btn, .close-workspace-manager-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-color: red;
	color: white;
	border-radius: 50%;
	border: 2px solid black;
	cursor: pointer;
}

.task-manager > form, .workspace-manager > form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.entry {
	max-width: 95%;

	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 10px;
	justify-content: flex-start;
}

.priority {
	display: flex;
	flex-direction: column;
}

.priority > div {
	display: flex;
	gap: 20px;
	align-items: center;
}

.priority button[type="radio"] {
	width: 15px;
	height: 15px;

}

.confirm-btn {
	background-color: lightgreen;
	border: 1px solid black;
	color: black;
}
