.project-manager {
	width: 500px;
	height: 200px;
	background-color: var(--color-main);
	box-shadow: 1px 1px 30px var(--color-shadow);
	border-radius: 10px;
	/* Position */
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



.name-input {
	padding: 5px;
	border: 2px solid var(--color-font);
}

.name-input:user-invalid {
	border: 2px solid red;
}

.name-input:user-valid {
	border: 2px solid var(--color-confirm);
}

.icon {
	width: 70%;
	height: 70%;
}

.blurred {
	filter: blur(10px);
}
