.project {
	padding: 10px 20px;
	width: 80%;
	border: 2px solid var(--color-font);
	border-radius: 5px;
	/* Layout */
	display: flex;
	justify-content: space-between;
}

.project:hover {
	background-color: var(--color-background);
	cursor: pointer;
}

#current-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.delete-project-button {
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background-color: var(--color-menu);
	width: 30px;
	height: 30px;
	/* Layout inside */
	display: flex;
	justify-content: center;
	align-items: center;
}
