.task-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.task {
	box-shadow: 5px 5px 20px var(--color-shadow);
	background-color: var(--color-main);
	padding: 20px;
	/* Layout */
	display: flex;
	flex-direction: column;
}

.task-short {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

.task-description {
	display: flex;
}

.title {
	color: var(--color-font);
}

.due-date {
	border-left: 2px solid var(--color-font);
	padding-left: 10px;
}

.description {
	display: none;
}

.delete-button {
	cursor: pointer;
	border: 2px solid var(--color-font);
	box-shadow: 5px 5px 15px var(--color-shadow);
	border-radius: 50%;
	background-color: var(--color-menu);
	width: 40px;
	height: 40px;
	/* Position */
	position: absolute;
	right: 10px;
	/* Layout inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-button > img {
	width: 70%;
	height: 70%;
}
