.task {
	box-shadow: 5px 5px 20px var(--color-shadow);
	background-color: var(--color-main);
	padding: 20px;
	/* Layout */
	display: flex;
	flex-direction: column;
}

.task-short {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

.task-description {
	display: flex;
}

.title {
	color: var(--color-font);
}

.due-date {
	border-left: 2px solid var(--color-font);
	padding-left: 10px;
}

.description {
	display: none;
}

.delete-button {
	position: absolute;
	right: 10px;
}
