.task-container {
	height: 50px;
	box-shadow: 5px 5px 20px var(--color-background-shadow);
	border: 2px solid var(--color-font);
	/* Layout inside */
	display: flex;
}

.task {
	flex: 1;
	/* Layout inside */
	display: flex;
	flex-direction: column;
}

.priority {
	width: 30px;
	text-align: center;
	font-weight: bold;
	color: rgb(82, 26, 16);
}

.task-short {
	position: relative;
	padding: 10px;
	/* Layout inside */
	display: flex;
	align-items: center;
	gap: 10px;
}

.description {
	padding: 10px;
}

.task:hover {
	background-color: var(--color-font-hover);
}

button[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.high-priority {
	background-color: rgb(248, 107, 107);
}

.medium-priority {
	background-color: rgb(253, 253, 98);
}

.low-priority {
	background-color: rgb(104, 252, 104);
}

.icon {
	width: 30px;
	height: 30px;
}

.delete-btn, .edit-btn, .checkbox-btn {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

.delete-btn {
	position: absolute;
	right: 10px;
}

