.task-manager {
	width: 500px;
	height: 500px;
	background-color: var(--color-main);
	/* Position */
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	/* Layout inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

.task-manager > form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input-container {
	display: grid;
	grid-template-columns: 90px 1fr;
	justify-content: center;
	align-items: center;
}

/* .input-label {
} */

.title-input {
	padding: 5px;
	border: 2px solid var(--color-font);
}

.title-input:user-invalid {
	border: 2px solid red;
}

.title-input:user-valid {
	border: 2px solid var(--color-confirm);
}

.description-input {
	resize: vertical;
	max-height: 100px;
	min-height: 30px;
}
