@import url("./reset.css");

html {
	font-family: "Open Sans", sans-serif;
}

/* Containers */

.main-container {
	display: flex;
	height: 100vh;
}

.side-bar {
	padding: 20px;
	flex: 1;
	border-right: 2px solid black;
	background-color: antiquewhite;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.workspace {
	flex: 5;
	background-color: aliceblue;
	/* Layout inside */
	display: flex;
	flex-direction: column;
}

/* Side Bar */

#close-sidebar-btn {
	color: black;
	font-weight: bold;
	font-size: 20px;
	padding: 1px 2px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: aliceblue;
	cursor: pointer;
}

#add-workspace-btn {
	position: absolute;
	bottom: 20px;
}


/* Workspace */

/* Menu */

.menu {
	border-bottom: 2px solid black;
	background-color: antiquewhite;
	padding: 10px;
	/* Layout inside */
	display: flex;
}

#add-task-btn, #add-workspace-btn {
	color: black;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 20px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: aliceblue;
	cursor: pointer;
}

/* Task List */

.task {
	border-bottom: 2px solid black;
	padding: 10px;
	/* Layout inside */
	display: flex;
	align-items: center;
	gap: 10px;
}

button[type="checkbox"] {
	width: 20px;
	height: 20px;
}

/* Task Manager */

.task-manager {
	padding: 10px;
	background-color: antiquewhite;
	border: 3px solid black;
	width: 600px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Layout inside */
	display: none;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.close-btn {
	align-self: flex-end;
	width: 30px;
	height: 30px;
	background-color: red;
	color: white;
	border-radius: 50%;
	border: 2px solid black;
	cursor: pointer;
}

.task-manager > form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.entry, .priority {
	max-width: 95%;

	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 10px;
	justify-content: flex-start;
}

.priority > div {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.priority button[type="radio"] {
	width: 15px;
	height: 15px;

}

.confirm-btn {
	background-color: lightgreen;
	border: 1px solid black;
	color: black;
}