@import url("./css/reset.css");
@import url("./css/project.css");
@import url("./css/menu.css");
@import url("./css/project-manager.css");
@import url("./css/task-manager.css");
@import url("./css/task.css");

/* Style */

:root {
	/* Colors */
	--color-background: #f0f0f0;
	--color-font: #171717;
	--color-main: white;
	--color-menu: #00bfff; /* deep sky */
	--color-shadow: rgb(206, 206, 206);
	--color-confirm: #5bdd5b;
	/* Integers */
	--font-weight: 500;
}

html {
	font-family: "Open Sans", sans-serif;
}

#main-container {
	background-color: var(--color-background);
	background-image: radial-gradient(
		circle,
		rgba(1, 1, 1, 0.2) 1px,
		transparent 1px
	);
	background-size: 15px 15px;
	height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 100px 1fr;
}

#menu {
	padding: 20px;
	background-color: var(--color-menu);
	grid-column: 1 / -1;
	box-shadow: 5px 5px 20px var(--color-shadow);
	/* Layout inside */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#side-bar {
	padding: 20px;
	background-color: var(--color-main);
	box-shadow: 5px 5px 20px var(--color-shadow);
	/* Layout inside */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#canvas {
	padding: 40px;
}
