@import url("./css/reset.css");
@import url("./css/sidebar.css");
@import url("./css/menu.css");
@import url("./css/managers.css");

:root {
	--color-background: #342E37; /* shadow grey */
	--color-font: #FAFFFD; /* porcelain */
	--color-font-hover: #29242b;
}

html {
	font-family: "Open Sans", sans-serif;
}

/* Containers */

.main-container {
	display: flex;
	height: 100vh;
}

.selected-workspace {
	color: var(--color-font);
	flex: 5;
	background-color: var(--color-background);
	/* Layout inside */
	display: flex;
	flex-direction: column;
}

/* Task List */

.task {
	border-bottom: 2px solid var(--color-font);
	padding: 10px;
	/* Layout inside */
	gap: 10px;
}

button[type="checkbox"] {
	width: 20px;
	height: 20px;
}